{
    "extends": [
      "react-app",
      "prettier"
    ],
    "rules": {
      "react-hooks/rules-of-hooks": "error",
      "jsx-quotes": [
        1,
        "prefer-double"
      ]
    },
    "plugins": [
      "prettier",
      "react-hooks"
    ]
  }